.record-title {
    text-align: center;
    background-color: #29D9C2 ;
}

.record-title div{
    color:#2F2933;
    margin-top:25px;
}

#record-contain {
    background-color: #ffffa6;
    text-align: center;
}

.title{
    background-color:#BDF271;

}

.title h1,h3{
    color:#2F2933;
    margin-top:25px;
}

body{
    background-color: #CBDBD7;
}

#time-stamps {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 15px;
}