.camera-div {
    display: none;
    z-index: 300;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
}

.take-photo {
    display: none;
    z-index: 350;
    position: fixed;
    bottom: 10vh;
    left: 45vw;
    margin:0 auto;
}

.upload-photo {
    display: none;
    z-index: 350;
    position: fixed;
    bottom: 10vh;
    left: 80vw;
    margin:0 auto;
}

.change-camera {
    display: none;
    z-index: 350;
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    margin:0 auto;
}

.cross-icon {
    display: none;
    z-index: 350;
    position: fixed;
    top: 5vh;
    right: 10vw;
    margin:0 auto;
}