.index-logo {
    width: 70%;
    height: 70%;
}

.service-img {
    max-height: 85vh;
    max-width: 290px;
    width: 80%;
    height: 80%;
}

.service-title {
    margin: 25px;
    padding: 5px;
}

.business-title {
    padding: 5%;
}

.business-text {
    padding: 5% 30px;
}

.service-text {
    margin: 5% 0%;
    padding: 10% 30px;
    opacity: 0.85;
}

.search-background {
    background: url("../img/search-background.jpg") no-repeat bottom right ;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.report-background {
    background: url("../img/report-background.jpg") no-repeat bottom right ;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.publish-background {
    background: url("../img/publish-background.jpg") no-repeat bottom right ;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.min-height-400 {
    min-height: 300px;
}