.index-logo {
    width: 70%;
    height: 70%;
}

.service-img {
    max-height: 85vh;
    max-width: 290px;
    width: 70%;
    height: 70%;
}

.service-title {
    margin: 25px;
    padding: 5px;
}

.business-title {
    margin: 15px;
    padding: 5px;
}

.business-text {
    padding: 5% 30px;
}

.service-text {
    padding: 13% 30px;
}